{% section 'page-contest-image-hero' %}
{% section "page-contest-image-columns" %}
{% section "page-contest-image-gallery" %}

<div class="down-arrow">
  <span data-destination="template-page" class="scroll-to arrow-up text-center">{% include "icon-chevron-down" %}</span>
  <span class="text-center">back to top</span>
</div>