<div class="page-width page-content">

  {%- include 'breadcrumbs' -%}

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <div class="rte rte--nomargin">
        {{ page.content }}
      </div>
      <a href="https://retrospec.returnlogic.com " class="btn">
        Begin Return
      </a>

    </div>
  </div>

</div>
