<div class="rental_bike_page">
  <div class="rental_bike_title">
    <div class="page-width">
      {% include 'breadcrumbs' %}
      <h2>{{ page.title }}</h2>
    </div>   
  </div>
  {% section 'page-rental-bike' %}
</div>
